body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Heading */
.head {
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-Heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* navbar styles */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}

/* buttondownload */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title */
#title{
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* images */
.rotateMobile {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

/* features */
#features {
  position: relative;
}

.feature {
  padding: 4.5%;
}

.feature-topic {
  font-size: 1.5rem;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* footer */
.social {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .rotateMobile {
    position: static;
    transform: rotate(0);
  }
}

/* special */
.refresh{
  background-color: #fff;
  border-radius: 100%;
  color: orange;
  transform: rotate(30deg);
  position: absolute;
  bottom: 25px;
  right:643px;
  z-index: 1;
  border: none;
}
@media (max-width:1364px) and (max-height:700px) {
  .refresh{
    display: none;
  }
}
